<!DOCTYPE html>
<html lang="en">

  <head itemscope itemtype="http://schema.org/WebPage">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="Canonical URL" itemprop="url">
    <title itemprop="name">Title</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content=" metaData.description" itemprop="description">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="OpenGraph Description"/>
    <meta property="og:url" content="OpenGraph URL" />
    <meta property="og:title" content="OpenGraph Title" />
    <meta property="og:image" content="OpenGraph Image" />
    <link rel="stylesheet" type="text/css" href="/dist/css/main.css">
  </head>

  <body>
    <div class="main">
      <h1>Error 404</h1>
      <h2>Page not found.</h2>
    </div>

    <script src="/dist/js/main.js"></script>
  </body>

</html>
