<!DOCTYPE html>
<html lang="en">
  <head itemscope itemtype="http://schema.org/WebPage">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="Canonical URL" itemprop="url">
    <title itemprop="name">Title</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content=" metaData.description" itemprop="description">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="OpenGraph Description"/>
    <meta property="og:url" content="OpenGraph URL" />
    <meta property="og:title" content="OpenGraph Title" />
    <meta property="og:image" content="OpenGraph Image" />
    <link rel="stylesheet" type="text/css" href="/dist/css/main.css">
  </head>

  <body>
    <header class="head">
      <nav>
        Navigation
      </nav>
    </header>

    <div class="main">
      <h1>Content!</h1>
      <p>Text.</p>
      <h2>Content!</h2>
      <p>Text.</p>
      <h3>Content!</h3>
      <p>Text.</p>
      <h4>Content!</h4>
      <p>Text.</p>
      <h5>Content!</h5>
      <p>Text.</p>
      <h6>Content!</h6>
      <p>Text.</p>
    </div>

    <script src="/dist/js/main.js"></script>

  </body>
</html>
